
.container-fluid1{
  background-color: black;

  
}  
.container-fluid1 a{
  color: aliceblue;
  margin-bottom: 15%;
  justify-content: space-between;
}

li {
    margin: 10px; 
    /* margin-left: 80px; */
    color: aliceblue;  
}

.list {
  width: 1400px;
  margin-left: 300px;
  background-color: black;

}
.list a{
  color: aliceblue;
}
  