{% extends 'base.html'  %}
{% block title %} Contact us {% endblock %}

{% block content %}

<div class="Contact" style="background-color: rgb(142, 135, 127); width: auto;display:  flex; justify-content: center;height: auto;" >
  <form action="/contact_us" >
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Full Name</label>
        <input type="text" class="form-control" name="" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!-- <div id="name" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Phone Number</label>
        <input type="number" class="form-control" name="" id="exampleInputPassword1">
      </div>
      
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input type="email" class="form-control" name="" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Subject</label>
          <input type="text" class="form-control" name="" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Message</label>
          <textarea name="" id="exampleInputPassword1"></textarea>
      </div>
      <div class="mb-3">
      <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
    </form>

</div>
    
{% endblock%}