
{% extends 'base.html'  %}
{% block title %} Home {% endblock %}
<div>
  <!-- {% if data %}
  <p>This is my home page, {{data}}</p>
  This is my Flask App
  {% else %}
  <p>Data not provided</p>
  {% endif %} -->

  {% for number in numbers %}
  <li> {{number}}</li>
  {% endfor %}

  {% for fruit in fruits %}
  <li>{{fruit}}</li>
  {% endfor %}
</div>
<br>
<br>

<!-- Task 2. go and create tables using borrowed css(boostrap) -use boostrap to create tables with random data  -->


<div>
  <!-- <p>{{products}}</p> -->
  <!-- <p>{{sales}}</p> -->
</div> 

{% block content %}
    
{% endblock%}
