
{% extends 'base.html'  %}
{% block title %} Sales {% endblock %}

{% block content %}
<div>
  <form action="/make_sale" method="post">
      <div>
          <select name="pid" >
              <option value="">Select Product</option>
              {% for product in products %}
              <option value={{product[0]}}>{{product[1]}}</option>
              {% endfor %}
          </select>
      </div>
      <div>
          <label for="">Quantity</label> <br>
          <input type="number" name="quantity"> 
      </div>
      <div>
          <button type="submit">Make Sale</button>
      </div>


  </form>


</div>


<!-- 
<div>
  <form action="/add_sales" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Sale ID</label>
        <input type="number" class="form-control" name="s_id" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!-- <div id="name" class="form-text">We'll never share your email with anyone else.</div> -->
      <!-- </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Product ID</label>
        <input type="number" class="form-control" name="p_id" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Quantity</label>
          <input type="number" class="form-control" name="qty" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Created at</label>
          <input type="time" class="form-control" name="created_at" id="exampleInputPassword1">
      </div>

      


      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div> --> -->

<div>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Sale ID</th>
          <th scope="col">Product ID</th>

          <th scope="col">Quantity</th>
          <th scope="col">Created at</th>

        </tr>
      </thead>
      <tbody>
          {% for sale in sales %}
        <tr>
          <td>{{sale[0]}}</td>
          <td>{{sale[1]}}</td>
          <td>{{sale[2]}}</td>
          <td>{{sale[3]}}</td>


        </tr> 
        {% endfor %}
      </tbody>
    </table>
</div>     



    
{% endblock%}
